<mat-tab-group dynamicHeight>
  <mat-tab label="UI">
    <div class="tab-container">
      <h1>Create Book</h1>
      <div style="margin-bottom: 50px">
        <mat-form-field appearance="outline">
          <mat-label>Book Id</mat-label>
          <input #bookId matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Book Title</mat-label>
          <input #bookTitle matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Book Author</mat-label>
          <input #bookAuthor matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">
          Add Book
        </button>
      </div>

      <h2>Books:</h2>
      <div *ngFor="let book of books$ | async">
        <mat-card style="margin-bottom: 15px">
          <mat-card-header>
            <div mat-card-avatar style="background-image: url(https://picsum.photos/100); background-size: cover"></div>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-stroked-button color="accent" (click)="removeBook(book.id)">Remove Book</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="CODE">
    <div class="tab-container">
      <pre>
      <code> a = 1 </code>
    </pre>
    </div>
  </mat-tab>
</mat-tab-group>
