<mat-tab-group dynamicHeight>
  <mat-tab label="UI">
    <div class="tab-container">
      <h1>Create Book</h1>
      <div style="margin-bottom: 50px">
        <mat-form-field appearance="outline">
          <mat-label>Book Id</mat-label>
          <input #bookId matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Book Title</mat-label>
          <input #bookTitle matInput />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Book Author</mat-label>
          <input #bookAuthor matInput />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addBook(bookId.value, bookTitle.value, bookAuthor.value)">
          Add Book
        </button>
      </div>

      <h2>Books:</h2>
      <div *ngFor="let book of books$ | async">
        <mat-card style="margin-bottom: 15px">
          <mat-card-header>
            <div mat-card-avatar style="background-image: url(https://picsum.photos/100); background-size: cover"></div>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-stroked-button color="accent" (click)="removeBook(book.id)">Remove Book</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="CODE">
    <div class="tab-container">
      <mat-card style="display: inline-block">
        <mat-card-content>
          <table style="text-align: center; font-weight: 600">
            <tr>
              <td>SELECTOR</td>
              <td>&#8592;</td>
              <td>STORE</td>
              <td></td>
              <td>DB</td>
            </tr>
            <tr>
              <td>&#8595;</td>
              <td></td>
              <td>&#8593;</td>
              <td></td>
              <td>&#8593;&#8595;</td>
            </tr>
            <tr>
              <td>&#8595;</td>
              <td></td>
              <td>REDUCER</td>
              <td></td>
              <td>SERVICE</td>
            </tr>
            <tr>
              <td>&#8595;</td>
              <td></td>
              <td>&#8593;</td>
              <td></td>
              <td>&#8593;&#8595;</td>
            </tr>
            <tr>
              <td>COMPONENT</td>
              <td>&#8594;</td>
              <td>ACTION</td>
              <td style="line-height: 10px">&#8594;<br />&#8592;</td>
              <td>EFFECTS</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <h2>app.config.ts</h2>
      <pre><code [highlight]="codeAppConfig">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>models/book.ts</h2>
      <pre><code [highlight]="codeInterface">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>app.state.ts</h2>
      <pre><code [highlight]="codeAppState">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book.actions.ts</h2>
      <pre><code [highlight]="codeActions">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book.effects.ts</h2>
      <pre><code [highlight]="codeEffects">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book.reducer.ts</h2>
      <pre><code [highlight]="codeReducer">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book.service.ts</h2>
      <pre><code [highlight]="codeService">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book-list.component.ts</h2>
      <pre><code [highlight]="codeComponent">
      </code></pre>
      <mat-divider></mat-divider>
      <h2>book-list.component.html</h2>
      <pre><code [highlight]="codeComponentUI">
      </code></pre>
    </div>
  </mat-tab>
</mat-tab-group>
